
.codeScroll{
    max-width:600px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto; margin-right: auto;
    border: 1px solid black;
    background-color: #2A2A2A;
    color: #f1f1f1;
    border-spacing: 10px;
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding:10px;
}


.codeScroll .a { color: #4dffff; font-style: none; }
.codeScroll .ai { color: #99ccff; font-style: italic; }
.codeScroll .r { color: #ff3232; font-style: none;}
.codeScroll .g { color: #7dcc0c; font-style: normal;}
.codeScroll .gy { color: #6d6d6d; font-style: normal;}
.codeScroll .w { color: #FFF; font-style: normal;}
.codeScroll .y { color: #fde760; font-style: normal;}
.codeScroll .p { color: #c47ddd; font-style: normal;}


.codeScroll .c { color: #998; font-style: italic; }
.codeScroll .k { font-weight: bold; }
