<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Optimizing Media Pitch Headlines with Machine Learning</title>
  <base target="_self">
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--stylesheets / link tags loaded here-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
  <link href="/static/css/sidebar_scroll.css" rel="stylesheet">

 
  <link rel="stylesheet" href="static/css/projects.css" />

</head>
<body >

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <nav id="spy">
                <ol class="sidebar-nav nav">

                    <li class="sidebar-brand" style="margin-bottom:40px">
                        
                        Score My Media Headline!
                    </li> 
                    <li class="sidebar-nav author" >
                    <a href="http://www.jon-tang.com"><img src="/static/img/JonTang.png" width="40px" height="40px"> Jon Tang</a>
                    </li>
                    
                    
                    <hr>
                    <li>
                        <a href="#intro" data-scroll>
                          Introduction
                     </a>
                 </li>
                 <li>
                    <a href="#sign" data-scroll>
                        Why are Media Pitches Important? 
                    </a>
                </li>
                <li>
                    <a href="#soln" data-scroll>
                        Solution
                    </a>
                </li>
                <li>
                    <a href="#demo" data-scroll>
                        Demo
                    </a>
                </li>
                <li>
                    <a href="#summ" data-scroll>
                        Summary
                    </a>
                </li>
                <li>
                    <a href="#link" data-scroll>
                        Related Links
                    </a>
                </li>
            </ol>
        </nav>
    </div>

    <!-- Page content -->
    <div id="page-content-wrapper" >

        <div class="page-content inset" data-spy="scroll" data-target="#spy">
            <div class="row" id="home">

                <div class="text-center" >
                    <h2 id="intro">Score My Headline!</h2><h3> Optimizing Media Pitch Headlines with Machine Learning</h3> 
Consulting Project for Insight Data Science 2017
                    <span class="glyphicon glyphicon-time"></span> Posted Feb 7, 2017
                    <br><br>
                    

                </div>

            </div>
            <br><br>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <h3>Introduction</h3>
                    During my fellowship at Insight Data Science I took on a three week consulting project for PRX, a public relations startup. Prior to Insight I was working at a biotech startup working on automating a blood test to help doctors better personalize cancer prevention and treatment options. In parallel, I was doing a computational biology postdoc at the Lawrence Berkeley Lab, using bioinformatics tools and computational models to study the biological effects of different types of ionizing radiation.  This was my first foray into natural language processing (NLP), which turned out to be a blast!
                    <br><br><br>
                </div>
                <div class="col-md-12">
                    <h3 id="sign"></h3>
                    PRX is a startup that wants to make public relations easy and more transparent for their customers. 
                    <br><br><br>
                </div>
                <div class="col-md-12">
                    <h3 id="soln">Solution</h3>
                    



                </div>
                <div class="col-md-12">
                    <h3 id="demo">Code Demo</h3>
                   




                </div>
                <div class="col-md-12">
                    <h3 id="summ">Summary</h3>
                   
                     <br><br><br>
                </div>
                <div class="col-md-12">
                    <h3 id="links">Related Links</h3>
                    <ul>
                        <li> <a href="https://github.com/jontang/" target="_blank">Download the code</a></li>
                         
                    </ul>
                    <br><br><br>
                    <br><br><br>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://d3js.org/d3.v2.js"></script>



<script src="https://code.jquery.com/jquery-1.9.1.min.js" integrity="sha256-wS9gmOZBqsqWxgIVgA8Y9WcQOa7PgSIX+rPA0VL2rbQ=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="/static/js/sidebar_scroll.js"></script>


</body>
</html>