
{% block content %}
    <!-- Intro Section -->
    <section id="intro" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                   
                    <div class="row">
                        <br><br>
                        <center>

                            <h1> What's your headline? </h1>
                                <form action="{{ url_for('search') }}" method="post">
                                <input type="text" name="search_input" placeholder='Enter your Headline' size="50"><input type="submit" value="Submit">
    
                                </form>
                        </center>
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-6">
                            
                        </div>
                        <div class="col-md-3">
                        </div>
                   </div>
                </div>
            </div>
        </div>
    </section>



{% endblock %}
