{% include "top.html" %}

   

    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <br><br>
                        <center>

                            <h1> What's your headline? </h1>
                                <form action="{{ url_for('search') }}" method="post">
                                <input type="text" style="font-size:20px" name="search_input" placeholder='Enter your Headline' value='How Two San Francisco Teachers Keep Their Classrooms Fully Engaged (Using Educational Virtual Reality)' size="60"><br><br><input type="submit" value="Submit" class="btn btn-primary">
    
                                </form>
                        </center>
            </div>
            
        </div>
        <!-- /.row -->

     

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>

   

</body>

</html>
